@use './colors' as *;
@use './animations' as *;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	// font-family: 'Cinzel-Variable', serif;
	font-family: 'Raleway-Regular', sans-serif;
	font-size: 1.6rem;
	background-color: $dark;
	color: $white;
}

h1.company-name {
	margin-bottom: 0.5em;
	font-family: 'Cinzel-Variable-Bold';
	font-size: 3rem;
	color: $gold;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.sticky-body {
	overflow: hidden;
}

.section-title {
	position: relative;
	margin: 0 auto 2em;
	font-size: 3.2rem;
	color: $gold;
	// font-weight: 200;
	font-family: 'Raleway-ExtraLight';
	width: fit-content;

	&::before {
		position: absolute;
		bottom: -.1em;
		left: 0;
		width: 40px;
		height: 2px;
		background-color: $gold;
		content: '';
	}

	span {
		// font-weight: 900;
		font-family: 'Raleway-Black';
	}
}